/*
* @Author: Administrator
* @Date:   2018-08-20 18:36:48
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-22 09:45:24
*/
@import url("base.css");
.header{
	background: #fff;
}
.h-m-right li a{
	color: #333;
}
.h-m-right li:first-child a{
	color: #333;
}
.h-m-right li:nth-child(2) a{
	color: #16b0dc;
}
body{
	background: #f2f2f2;
}
.section-main{
	width: 1170px;
	margin: 0 auto;
	margin-top: 80px;
}
.section-main .title{
	text-align: center;
	line-height: 118px;
	font-size: 34px;
	color: #f58588;
	margin-bottom: 32px;
}
.content{
	width: 100%;
	margin-top: 200px;
}
.content:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	clear: both;
}
.content .article{
	width: 874px;
	background: #fff;
	padding: 0 30px;
	box-sizing: border-box;
	float: left;
}
.a-title{
	width: 100%;
	height: 118px;
	overflow: hidden;
	border-bottom: 1px solid #f0f2f5;
	margin-bottom: 78px;
}
.a-title h1{
	font-size: 32px;
	color: #37474F;
	line-height: 46px;
	margin-top: 26px;
}
.a-title h2{
	float: left;
	font-size: 14px;
	line-height: 40px;
	color: #8f99a3;
	margin-right: 10px;
}
.a-title h3{
	float: left;
	font-size: 14px;
	line-height: 40px;
	color: #8f99a3;
	margin-left: 14px;
}
.a-title i{
	float: left;
	font-size: 14px;
	line-height: 40px;
	color: #8f99a3;
	margin-left: 14px;
}
.a-main{
	width: 100%;
}
.a-main img{
	max-width: 100%;
    height: auto!important;
    margin: 16px 0;
}
.a-main p{
	line-height: 1.8;
	margin-bottom: 16px;
	font-size: 18px;
    font-weight: 300;
    color: #222;
}
.a-footer{
	width: 100%;
	height: 80px;
	border-top: 1px solid #f0f2f5;
	margin: 60px 0 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.a-f-left{
	width: 142px;
	height: 40px;
}
.a-f-left a{
	display: block;
	width: 142px;
	height: 40px;
	border: 1px solid #e4eaec;
	border-radius: 20px;
	line-height: 40px;
	text-align: center;
	color: #7683ab;
}
.a-f-left a:hover{
	border-color: #62A8EA;
	color: #62A8EA;
}
.c-right{
	width: 264px;
	/* height: 254px; */
	background: #fff;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}
.search{
	width: 223px;
	height: 36px;
	/* background: red; */
	position: relative;
	margin-bottom: 20px;
}
.search input{
	width: 100%;
	height: 100%;
	padding: 0;
	border-radius: 18px;
	border: none;
	border: 1px solid #e4eaec;
	box-sizing: border-box;
	text-indent: 1em;
}
.search input:focus{
	outline: none;
	border: 1px solid #6BACEA;
}
.search a{
	display: block;
	width: 16px;
	height: 16px;
	color: #2a333c;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 14px;
}
.c-r-main{
	width: 100%;
	/* height: 200px; */
	border-top: 1px solid #e4eaec;
}
.c-r-main h1{
	line-height: 44px;
	color: #37474f;
	font-size: 18px;
	margin-top: 8px;
}
.c-r-main li{
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	border: 1px solid #e4eaec;
	text-indent: 1em;
	border-bottom: none;
}
.c-r-main li a{
	color: #2a333c;
}
.c-r-main li:hover a{
	color: #6BACEA;
	text-decoration: underline;
}
.foot{
	width: 100%;
	height: 20px;
	background: #fff;
	margin-top: 30px;
}